/* header */
.header__top-inner {
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  column-gap: 38px;
}
.menu__list-link {
  padding: 0 6px 9px;
  border-bottom: 1px solid transparent;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: border .5s ease;
}
.menu__list-link:hover {
  border-bottom: 1px solid var(--color-gold);
}
.header__content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./../images/header-bg.jpg');
}
.header__content-inner {
  height: calc(100vh - 94px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--second-family);
}
.header__titile {
  padding-top: 150px;
  margin-top: auto;
  font-weight: 500;
  font-size: 72px;
  color: var(--color-white);
  margin-bottom: 10px;
}
.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.74px;
  text-transform: uppercase;
  color: var(--color-gold);
}
.header__icon {
  margin-top: auto;
  margin-bottom: 62px;
}


/* about */
.about {
  padding: 150px 0 144px;
  background-color: #f6f8fa;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__title {
  align-self: flex-start;
  font-size: 48px;
}
.about__text {
  max-width: 770px;
}
.about__text p {
  margin-bottom: 16px;
}


/* expertise */
.expertise {
  padding: 140px 0 160px;
}
.expertise__title {
  margin-bottom: 90px;
}
.expertise__inner {
  display: flex;
  column-gap: 30px;
  margin-bottom: 110px;
}
.expertise__info {
  margin-top: 10px;
  width: 370px;
  flex: none; 
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.expertise__info-item {
  padding: 2px 0 8px;
  border-top: 2px solid #1d1d1d;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1d1d1d;
  position: relative;
}
.expertise__info-item span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 7px;
}
.expertise__info-item span::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -7px;
  height: 2px;
  width: 100%;
  background-color: #f0f0f0;
}
.expertise__text {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 14px;
  line-height: 1.7;
}
.expertise__items {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.expertise__item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}
.expertise__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.expertise__item-design::before {
  background-image: url('./../images/icon-design.svg');
}
.expertise__item-dev::before {
  background-image: url('./../images/icon-dev.svg');
}
.expertise__item-marketing::before {
  background-image: url('./../images/icon-marketing.svg');
}
.expertise__item-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 4.29px;
  color: #333;
  margin-bottom: 15px;
}
.expertise__item-text {
  font-size: 14px;
  line-height: 1.7;
  color: #777;
}


/* magic */
.magic {
  /* min-height: 840px; */
  background-color: #f6f8fa;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50%;
}
.magic__inner {
  padding: 100px 0 200px;
  max-width: 470px;
  margin-left: auto;
}
.magic__title {
  margin-bottom: 67px;
}
.magic__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 14px;
  line-height: 1.7;
}


/* portfolio */
.portfolio__top {
  margin-bottom: 100px;
}